<div class="jumbotron">
    <h1>LIST APP</h1>
</div>

<div ng-controller="ListCtrl">
    <p>Bucket: {{ bucket }}</p>

    <p>Folder: {{ folder }}</p>
    <pre>Sort by = {{propertyName}}; reverse = {{reverse}}</pre>
    <hr/>
    <button ng-click="propertyName = null; reverse = false">Set to unsorted</button>
    <hr/>
    <table class="files">
        <tr>
            <th>
                <button ng-click="sortBy('file')">File</button>
                <span class="sortorder" ng-show="propertyName === 'file'" ng-class="{reverse: reverse}"></span>
            </th>
            <th>
                <button ng-click="sortBy('date')">Date</button>
                <span class="sortorder" ng-show="propertyName === 'date'" ng-class="{reverse: reverse}"></span>
            </th>
            <th>
                <button ng-click="sortBy('size')">Size</button>
                <span class="sortorder" ng-show="propertyName === 'size'" ng-class="{reverse: reverse}"></span>
            </th>
            <th>
                <button ng-click="sortBy('extension')">Extension</button>
                <span class="sortorder" ng-show="propertyName === 'extension'" ng-class="{reverse: reverse}"></span>
            </th>
            <th></th>
        </tr>
        <tr ng-repeat="file in files | orderBy:propertyName:reverse">
            <td><a href="https://s3.amazonaws.com/{{ bucket }}/{{file['file']}}">{{ file['file'] }}</a></td>
            <td>{{file['date']}}</a></td>
            <td>{{file['size']}}</a></td>
            <td>{{file['extension']}}</a></td>
            <td><a ng-click="delete($index)">Delete</a></td>
        </tr>
    </table>
</div>
